<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="index.css" rel="stylesheet">
    <title>Document</title>
</head>
    <body>  
        <header>   
            <div class="header_item">
                <a href="/new">New Chitter</a> 
            </div> 
            <div class="header_item">  
                <a href="/">Log out</a>
            </div>
        </header>
        <div class="message"> 
            <% @chitters.reverse.each do |chitter| %>   
                <div class="message_item">
                    <p id="id"><%= chitter.mes %></p>     
                    <p id="date"><%= chitter.sent_time %></p>     
                    <% if chitter.account_id.to_i == @id %>
                        <form action="/delete/<%= chitter.user_id %>" method="post"> 
                            <input type="hidden" name="_method" value="DELETE"/> 
                            <input id="delete" type="submit" value="Delete"/>
                        </form>    
                    <% else %> 
                        <% nil %>
                    <% end %> 
                    <form action="/comment/<%= chitter.user_id %>"> 
                        <input type="text" name="comment"/> 
                        <input type="submit" value="Add comment"/>
                    </form>    
                    <p>Comments</p>
                    <% @comments.each do |comment| %> 
                        <% if comment.message_id == chitter.user_id %>
                            <ul>  
                                <p><%= comment.comment %></p> 
                                <form action="/delete_comment/<%= comment.id_comment %>" method="post"> 
                                    <input type="hidden" name="_method" value="DELETE"/> 
                                    <input type="submit" value="Delete">
                                </form>
                            </ul> 
                        <% else %>
                            <% nil %>
                        <% end %> 
                    <% end %>
                </div>
            <% end %>    
        </div>
    </body>
</html>